@import url(./Variables.css);

body.dark {
  --primary-black: #dddddd;
  --white: #242424;
  --black: #dddddd;
  --box-shadow-light: #0000009e;
  --primary-gray: #858585;
  --secondary-black: #858585;
  --text-tertiary: #8b8a8c;

  --White-White-70: rgba(255, 255, 255, 0.7);
  --White-White-50: rgba(255, 255, 255, 0.5);
  --White-White-20: rgba(255, 255, 255, 0.2);
  --White-White-10: rgba(255, 255, 255, 0.1);
}

body.dark .sidebar .content-btn {
  color: var(--theme-white);
}
