@import url(../../assets/css/Variables.css);

.accordion-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-header {
  margin: 0;
}

.accordion-button {
  width: 100%;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.accordion-button .downArrow {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.accordion-button.collapsed .downArrow {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(212, 227, 237, 0.5);
}

.toggle-container .toggle-title,
.post-title {
  font-size: var(--font-sz-sm);
  font-weight: var(--font-wt-semibold);
  line-height: 24px;
  color: var(--primary-black);
  margin: 0;
}

.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-bottom: 0;
}

[dir="rtl"] .toggle-switch {
  transform: rotate(180deg);
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white);
  box-shadow: 0px 0px 6px #00000029;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--theme-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn_sound {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: var(--font-sz-sm);
  font-weight: var(--font-wt-semibold);
  line-height: 25px;
  color: var(--theme-color);
}

.panel-list {
  display: block;
}

.panel-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.sound {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sound-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.sound-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.sound-title {
  font-size: var(--font-sz-md);
  font-weight: var(--font-wt-semibold);
  line-height: 24px;
  color: var(--primary-black);
  margin: 0;
}

.sound-artist {
  font-size: var(--font-sz-sm);
  font-weight: var(--font-wt-semibold);
  line-height: 24px;
  color: var(--primary-gray);
  margin: 0;
}

.sound-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sound-actions-btn {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 991px) {
  .side-fixed-panel-inner.sound-panel .full-box {
    padding-top: 0;
  }
  .side-fixed-panel-inner.sound-panel .page-search-box {
    padding-left: 0;
    padding-right: 0;
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 14px;
}

.main_upload .main_upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  min-height: calc(100dvh - 200px);
  margin: auto;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='36' ry='36' stroke='%23ADBACFFF' stroke-width='3' stroke-dasharray='14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 36px;
}

.main_upload .main_dropzone {
  width: 100%;
  height: 100%;
}

.main_upload .main_dropzone .main_dropzone-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main_upload .main_dropzone .main_dropzone-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  border: 1px solid #adbacf;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #242424;
  min-width: 260px;
}

.main_upload .main_dropzone .main_dropzone-actions button span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #242424;
}

.main_upload .main_dropzone .main_dropzone-actions button svg {
  width: 100px;
  height: 100px;
}

.main_upload .main_dropzone .main_divider {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #181818;
  margin: 20px 0;
}

.main_upload .main_dropzone .c-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #181818;
}

.main_upload .main_dropzone .text-sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #181818;
}
